{{ section start=start_of_file end=contains("<!-- END BADGES -->") }}
{{ join }}
[![Build](https://img.shields.io/badge/build-passing-green)]
[![Coverage](https://img.shields.io/badge/coverage-100%25-green)]
{{ end }}
<!-- END BADGES -->
{{ end }}
