#!gitrepoforge:section start=start_of_file end=contains("<!-- END MANAGED -->")
# Managed Header
<!-- END MANAGED -->
#!gitrepoforge:end
#!gitrepoforge:bootstrap
Default body content goes here.
#!gitrepoforge:end
